img{
    width: 100%;
}

.cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    

}

.cart-container p{
    text-decoration: none;
    font-size: 1.1rem;
    color: #f49404;
    font-weight: bold;
    
}
