
.contact-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.instagram{
    color: #222;
    transition: background-image 0.3s ease;
   
}

.instagram :hover{
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

/* linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) */