main {
  max-width: 100vw;
  padding: 5rem 0;
  background-color: black;
}

.dollar-banner {
  margin: 2rem auto;
  width: 50%;
  height: 15vh;
  background-image: url(../../../public/dollar.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hometitle {
  font-family: inherit;
  color: #f49404;
  padding: 2rem 0;
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homesection {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem 0;
  color: #f49404;
}

.homeimgContainer {
  display: flex;
  height: 600px;
}

.homeimgContainer img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  cursor: crosshair;
  filter: grayscale(1);
}

.homeimgContainer img:hover {
  width: 300px;
  opacity: 1;
  filter: grayscale(0);
}

