.main {
  background-color: black;
  min-height: 100vh;
}

.category-container {
  text-align: center;
  padding: 4rem 0;
  display: flex !important;
  justify-content: center;
  gap: 1.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.category-container a {
  color: #f49404;
  text-decoration: none;
}

.category-container a:hover {
  color: rgb(177, 115, 0);
}
